a {color:#333;}
a:hover {color:#FF6600}

#content {line-height:200%;font-size:14px;}
#content table {font-size:12px;}


/************* 分页 */

.pages {
  clear:both;
  margin:0px 10px;
  font-size:1.0em;
  color:#888;
}

.pages strong,.pages span {
  color:#FFFFFF;
  display:block;
  float:left;
  height: 26px;
  line-height: 26px;
  float:left;
  padding:0px 8px;
  background:#2065C4;
  margin: 0px 3px 0px 0px;
  font-size:1.0em;
  border-radius: 3px 3px 3px 3px;
}
.content .pages a,.pages a {
  display:block;
  float:left;
  height:24px;
  line-height:24px;
  float:left;
  padding:0px 8px;
  border:1px solid #2065C4;
  border-radius: 3px 3px 3px 3px;
  text-decoration:none;
  margin: 0px 3px 0px 0px;
  color:#2065C4;
  font-size:1.0em;
}

.content .pages strong {color:white;}

.pages span {
  float:right;
}

#page {
font-size:1.0em;
}

#page strong {
padding:5px 8px;
background:#2065C4;
border-radius:5px;
color:white;
margin-right:15px;
font-size:1.0em;
}

.nav{
width:100%;
	height:30px;
	line-height:30px;
	color:#666;
	margin-bottom:10px;
margin-left:auto;
margin-right:auto;
clear:both;	}
.nav a{
	margin:0 5px;
	
	color:#666;
}
.nav span{}
.nav strong{
	padding:0 0 0 15px;
	margin:0 5px;
	font-weight:normal;
	}



/****************内容*/
#title h1,.pd_title h1,.archive_title h1 {

  line-height:40px;
  padding-top:20px;
  font-size:22px;
  text-align:center;
  background:url(./img/point.gif) left bottom repeat-x;
  color:#333;
  font-weight:normal;
  font-family:'微软雅黑';
}

.contentinfo {
  line-height:24px;
  text-align:center;
  color:#999;
  padding-right:15px;
}

.contentinfo a {color:#999;}

.text {
  padding:30px 20px;
  text-align:14px;
  line-height:200%;
  color:#333;

}



.floatright {float:right;}
.floatleft {float:left}

.blank10,.blank30,.blank20 {clear:both;height:10px;overflow:hidden;}
.blank30 {height:30px;}
.blank20 {height:20px;}

/*工具*/
#tool {
	font-size:12px;
	line-height:14px;
	overflow: hidden;
}
#tool ul {
	float:left;
}
#tool ul li {
	float:left;
	width:90px;
	line-height:20px;
}
#tool .commentary, #tool .print, #tool .copy, #tool .email, #tool .close, #tool .rss_2, #tool .t_1, #tool .t_2, #tool .t_3 {
	background-image: url(./img/tool.gif);
	background-repeat: no-repeat;
	background-position: left -20px;
	height:20px;
	line-height:20px;
	padding:0 0 0 25px;
	display:block;
	margin:0 10px 0 0;
	color:#333;
}
#tool .print {
	background-position: left -40px;
}
#tool .copy {
	background-position: left -80px;
}
#tool .email {
	background-position: left -100px;
}
#tool .close {
	background-position: left -60px;
}
#tool .rss_2 {
	background-position: left -120px;
}
#tool .t_1 {
	background-position: left -140px;
}
#tool .t_2 {
	background-position: left -160px;
}
#tool .t_3 {
	background-position: left -180px;
}

#tool .t_4 {padding-left:20px;background:url(../img/comment.gif) left 3px no-repeat;}
#tool .orders {padding-left:20px;background:url(../img/orders.gif) left 2px no-repeat;}
#tool .sinaicon {padding-left:20px;background:url(../img/sinaicon.png) left 1px no-repeat;}
/************* 分类列表 */


.category_title {
  clear:both;
  line-height:28px;
  color:#333;
  padding:0px 15px 0px 30px;
  margin-bottom:10px;
  background:#F5F5F5 url(../img/rank_1.gif) 10px 10px no-repeat;
  border-bottom:1px solid #ccc;
}

.category_title span {
  float:right;
}
.category_title span a {
color:#888;
}

.category_title h4 {
  font-size:14px;
}

.news_text h5,.news_text_pic h5 {
  float:right;
  width:495px;
  font-weight:bold;
  font-size:12px;
  text-align:left;
  color:#333;
}

.news_text h5 {
  width:645px;
  line-height:32px;
}

.news_text h5,.news_text_pic h5 a {
  color:#333;
  font-size:14px;
}

.news_list .date,.news_text h5 .date,.news_text_pic h5 .date,.strgrade {
  float:right;

  color:#999;
  font-weight:normal;
}

.strgrade {
  display:block;
  width:160px;
  text-align:left;
}



.news_text,.news_text_pic {
  clear:both;
  height:auto;
  padding:30px 0px;
  background:url(../img/line-2.gif) left bottom repeat-x;
}


.news_text p,.news_text_pic p {
  float:right;
  width:490px;
  text-align:left;
  color:#999;
  padding:5px;
}

.news_text p {
  width:640px;
}


.list1 a,.list2 a,.list3 a {
  padding-right:30px;
  background:url(../img/new.gif) right 2px no-repeat;
}


.p_info,.d_info {
  height:20px;
  line-height:20px;
  padding-left:20px;
  background:url(../img/rank_1.gif) left center no-repeat;
  
  font-size:14px;
  font-weight:bold;
}

/************* 当前位置 */
.position {
  float:left;
  line-height:44px;
  padding-left:35px;
  background:url(../img/position.gif) 5px center no-repeat;
}

.position a {
  float:left;
  line-height:44px;
  padding:0px 10px 0px 10px;
  
  background:url(../img/dot_r.gif) left center no-repeat;
}

.treemenu { 
  padding:0 15px;
  background:url(../img/l_menu_bg.gif) left -15px no-repeat;
  font-size:14px;
}

.treemenu dt {
  background: url(../img/line.gif) left bottom repeat-x;
}

.parent {
	cursor: pointer;
	position: relative;
	line-height:32px;
	margin:2px 0px;
}
.parent a {display:block;padding:0px 8px 0px 20px; background:url(../img/dot_r.gif) 5px center no-repeat;font-size:14px;}
.parent a:hover {background:white url(../img/dot_r.gif) 5px center no-repeat;text-decoration: none;}
.open{
	border:solid 1px #e7e7e7;
	font-weight:bold;
	color:#0160b0;
	}
.close{}

#p1,#p1 a {background:#8E8E8E url(../img/dot_r.gif) 5px center no-repeat;color:white; font-weight:bold;}

.child {

}
.child a{
  display:block;
  padding-left:15px;
  font-family:"宋体";

	line-height:32px;
	height:32px;
	list-style-type: none;
	color:#535353;
	display:block;
	background:#E1E1E1 url(../img/line.gif) left bottom repeat-x;
	white-space:nowrap;
}
.child a:hover{
  color: #000000;
  text-decoration:underline;
  background:#CCC url(../img/dot_r.gif) 5px center no-repeat;
  }
.child a.on {background:#CCC url(../img/dot_r.gif) 5px center no-repeat;}

.child .c_current{ font-size:20px;}



/************* 代码高亮 */
.dp-HighLighter {border:1px solid #ccc;background:#F7F7F7 url(../img/codebg.gif) left top repeat-y;}
.dp-HighLighter ol {padding-left:40px;}
.dp-HighLighter ol li {
  padding-left:10px;
  list-style-type:decimal;
}
.tools {padding-left:10px;background:#F7F7F7;border-bottom:1px solid #ccc;}

/************* 投票 */
.vote-list {padding:10px;}

.vote-list li {
  clear:both;
  height:20px;
  line-height:20px;
  font-size:12px;
  text-align:left;
}

.vote-list #button {
  float:right;
}

#ballot {
  height:10px;
  _height:16px;
  margin:0px 5px 0px 0px;
}

.date {float:right;display:block; width:80px; line-height:20px; color:#999;font-size:8px; text-align:center;background:url(../img/date.gif) center top no-repeat;}


.copyright a {color:#999}

/* 
  --------------------------------------
  *****  9. assist (辅助)   *****
  --------------------------------------
*/
.p5 {
  padding:5px;
}

.p10 {
  padding:10px;
}

.blank5 {
  clear:both;
  height:5px;
  overflow:hidden;
}

.blank10,.blank30 {
  clear:both;
  height:10px;
  overflow:hidden;
}

.blank20 {
  height:20px;
}

.blank30 {
  height:30px;
}

.padding10 {
  padding:10px;
}


.hr {
  clear:both;
  height:1px;
  background:url(../img/point.gif) repeat-x;
}



#list-view li {
float:left; 
width:150px; 
text-align:center; 
overflow:hidden; 
margin:0 0px 5px; 
padding:0 5px; 
vertical-align:100%;
}

.img-wrap{
  margin:0 auto;
  width:90%;
  height:150px;
  overflow:hidden; 
  /*非IE的主流浏览器识别的垂直居中的方法*/
  display: table-cell;
  vertical-align:middle;
  /*设置水平居中*/
  text-align:center;
  /* 针对IE的Hack */
  *display: block;
  *font-size: 139px;/*约为高度的0.873，200*0.873 约为175*/
  *font-family:Arial;/*防止非utf-8引起的hack失效问题，如gbk编码*/
}
.img-wrap img {
  display:block;
  width:136px;
  width:80%\0;
  _width:120px;
  margin:0px auto;
  vertical-align:middle;
  padding:5px;
  border:1px solid #ccc;
  _border:none;
  background:url(../img/pic_bg.gif) left top no-repeat;
  border-right:1px solid white; 
  border-bottom:1px solid white;
  }

.list_text_pic {float:left;width:140px;  vertical-align:100%;}


#list-view h5 a {
clear:both;
  width:142px;
  overflow:hidden;
  height:18px;
  line-height:18px;
  margin-top:10px;
  font-size:12px;
   text-align:center;
  font-weight:normal;
}
#list-view span {color:red;}
#list-view h5 p {height:18px;
  line-height:18px;}
.back,.btn {
  display:block;
  clear:both;
  width:72px;
  height:21px;
  line-height:20px;
  margin:15px 0px;
  padding-left:10px;
  background:url(../img/back.gif) left top no-repeat;
  text-align:center;
  color:white;
  font-size:12px;
  text-decoration: none;
  border:none;
}

.back a,.back a:hover {text-decoration: none;color:white;}

.input_d {
  width:190px;
  height:29px;
  line-height:29px;
  padding:0px 10px;
  background:url(../img/input_bg_d.gif) left top no-repeat;
  border:none;
  font-size:12px;
}



.input_c {
  width:39px;
  height:21px;
  line-height:21px;
  padding:0px 10px;
  background:url(../img/input_bg_c.gif) left top no-repeat;
  border:none;
  font-size:12px;
}

#addcontentuser {
  padding:5px;background:#E47C01;color:white;
}

#catid {height:27px;
  line-height:27px;border:1px solid #999;color:#333;}
.top_input{ float:left; padding-left:8px;}

.top_inputimg{ 
float:left; margin-left:8px; padding:0px 8px;height:27px;
  line-height:27px;color:white;
  background:url(../img/btn.gif) right top no-repeat;border:none;
  }

.top_input input {margin:10px 0px;
	background-image: url(sm_2.gif);
	background-repeat: no-repeat;
	background-position: left;
	border:1px solid #999;color:#999;
	height:25px;
  line-height:25px;
	text-align: left;
	text-indent: 24px;
	color:#CCC;
	font-size:12px;
}
