body, html {
    font-size: 14px
}

body {
    background-color: #f0f0f0
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: rgba(0, 0, 0, .1)
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, .01);
    -webkit-box-shadow: inset 0 0 6px transparent
}

::-webkit-scrollbar-track:hover {
    background-color: rgba(0, 0, 0, .2);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .4)
}

::-webkit-scrollbar-track:active {
    background-color: rgba(0, 0, 0, .2);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .1)
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, .2);
    -webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1)
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, .4);
    -webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1)
}

::-webkit-scrollbar-thumb:active {
    background: rgba(0, 0, 0, .4)
}

a {
    color: #333
}

address, caption, cite, code, dfn, em, strong, th, var {
    font-weight: 400;
    font-style: normal
}

.colorh {
    color: #333
}

.colorb {
    color: #fff
}

.left {
    float: left
}

.right {
    float: right
}

.header {
    width: 100%;
    background-color: #fff;
    box-shadow: 0 3px 4px #dedede
}

.header_top {
    color: #fff;
    height: 35px;
    line-height: 35px;
    box-shadow: 0 1px 3px #cecece;
    background: linear-gradient(90deg, #9c4dff 0, #42a7ff 100%)
}

.header_top a {
    color: #fff
}

.header_t_l {
    float: left
}

.header_t_r {
    float: right
}

.header_t_r li {
    float: left;
    margin-right: 20px
}

.header_logo_l {
    float: left;
}

.header_logo_l img {
    width: 250px
}

.header_so_r {
    width: 230px;
    height: 45px;
    background: #f1f1f1;
    border-radius: 28px;
    margin: 42px 0;
    line-height: 47px;
    text-align: left;
    padding-left: 25px;
    font-size: 15px;
    float: right;
    position: relative;
    border-bottom: 1px solid #f1f1f1
}

.header_so_r .focus {
    border: 0;
    width: 170px;
    background: #f1f1f1
}

.header_so_r button {
    width: 45px;
    height: 45px;
    position: absolute;
    right: 0;
    top: 0;
    background: #6584ff url(../images/search_icon.png) center no-repeat;
    border: 0;
    border-radius: 45px
}

.container {
    width: 75pc;
    overflow: hidden;
    margin: auto
}

.header .nav {
    margin: auto;
    width: 75pc;
    -webkit-animation: fadeInDown .3s ease-out;
    animation: fadeInDown .3s ease-out;
    border-top: 1px solid #f1f1f1;
    height: 60px
}

.header .nav .layui-nav {
    background: #fff !important;
    padding: 0;
    height: 59px;
    overflow: hidden;
    margin-top: 1px
}

.layui-nav .layui-nav-item {
    line-height: 62px !important
}

.header .nav .layui-nav-item a {
    color: #333 !important
}

.header .nav .layui-nav .layui-this:after, .layui-nav-bar, .layui-nav-tree .layui-nav-itemed:after {
    height: 5px !important;
    background-color: #6584ff !important
}

.publicborder {
    background: #fff
}

.wrap {
    overflow: hidden;
    margin: 20px auto 15px;
    width: 75pc
}

.toutiao {
    margin: 0 auto 15px;
    height: 50px;
    text-align: center
}

.toutiao a {
    display: inline-flex;
    height: 50px;
    color: #6584ff;
    font-size: 1.6pc;
    line-height: 50px
}

.toutiao a:hover {
    text-decoration: underline
}

.toutiao a i {
    display: -webkit-inline-box;
    margin: 9px;
    width: 30px;
    height: 30px
}

.toutiao h2 {
    margin: 0 auto;
    width: 75pc;
    height: 50px
}

.tt10 {
    background: no-repeat url(../images/biaoshi.png) -50px -2px
}

.tt20 {
    background: no-repeat url(../images/biaoshi.png) -85px -2px
}

.tt30 {
    background: no-repeat url(../images/biaoshi.png) -90pt -2px
}

.tt40 {
    background: no-repeat url(../images/biaoshi.png) -155px -2px
}

.recommend {
    overflow: hidden;
    margin: 10px 0
}

.slide {
    float: left;
    background-color: #333
}

.slide, .slide img {
    width: 430px;
    height: 300px
}

.slide p {
    bottom: 5px;
    height: 30px;
    font-size: 10px
}

.slide p, .slide span {
    position: absolute;
    width: 100%;
    color: #fff;
    text-indent: 10px
}

.slide span {
    bottom: 0;
    height: 75pt;
    background: linear-gradient(to bottom, transparent 0, rgba(4, 4, 4, .6) 100%);
    font-weight: 900;
    font-size: 1pc;
    line-height: 105px
}

.layui-carousel-ind ul {
    background: 0 0 !important
}

.layui-carousel-ind {
    top: -38px !important;
    text-align: right !important
}

.layui-carousel-ind li {
    width: 8px !important;
    height: 8px !important
}

.tuijian {
    float: right;
    width: 760px;
    height: 300px
}

.tuijian .title {
    width: 100%;
    height: 50px;
    line-height: 50px
}

.tuijian .title i {
    float: left;
    display: block;
    margin: 16px 10px 10px 15px;
    width: 5px;
    height: 1pc;
    background: #6584ff;
    border-radius: 5px;
}

.tuijian .title span {
    font-size: 1pc
}

.tuijian-wz {
    margin: auto;
    width: 728px;
    height: 150px
}

.tuijian-wz a {
    display: block
}

.tuijian-wz-left, .tuijian-wz-right {
    float: left;
    width: 364px
}

.tuijian-wz-left .tu {
    width: 365px;
    height: 65px
}

.tuijian-wz-left .tu .left {
    float: left;
    margin: 0 5px 0 0;
    width: 5pc;
    height: 63px
}

.tuijian-wz-left .tu .left img {
    width: 79px;
    height: 61px;
    border-radius: 5px
}

.tuijian-wz-left .tu .left img:hover {
    opacity: .8
}

.tuijian-wz-left .tu .right {
    margin-right: 22px;
    width: 250px;
    height: 63px
}

.tuijian-wz-left .tu .right h2 {
    font-size: 15px
}

.tuijian-wz-left .tu .right p {
    display: block;
    margin-top: 5px;
    color: #888;
    text-align: justify;
    font-size: 9pt
}

.tuijian-wz-right .tu {
    width: 364px;
    height: 65px
}

.tuijian-wz-right .tu .left {
    float: left;
    margin: 0 5px 0 0;
    width: 5pc;
    height: 63px
}

.tuijian-wz-right .tu .left img {
    width: 79px;
    height: 61px
}

.tuijian-wz-right .tu .left img:hover {
    opacity: .8
}

.tuijian-wz-right .tu .right {
    margin-right: 22px;
    width: 250px;
    height: 63px
}

.tuijian-wz-right .tu .right h2 {
    font-size: 15px
}

.tuijian-wz-right .tu .right p {
    display: block;
    margin-top: 5px;
    color: #888;
    text-align: justify;
    font-size: 9pt
}

.tuijian-ad {
    overflow: hidden;
    margin: auto;
    width: 728px;
    height: 90px
}

.index_ad_hyq {
    display: block;
    overflow: hidden;
    margin-top: 10px;
    padding-top: 20px;
    border-top: 1px solid #f1f1f1
}

.index_ad_hyq li {
    float: left;
    margin-right: 5%;
    width: 47%
}

.index_ad_hyq li:nth-child(2) {
    margin-right: 0
}

.index_ad_hyq li img {
    float: left;
    margin-right: 20px;
    margin-left: 10px;
    width: 52px;
    height: 52px;
    border-radius: 10px
}

.index_ad_hyq li div {
    float: left;
    width: calc(100% - 52px - 25px - 75pt - 25px)
}

.index_ad_hyq li div h3 {
    height: 25px;
    color: #333;
    font-size: 1pc;
    line-height: 35px
}

.index_ad_hyq li div h3, .index_ad_hyq li div span {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.index_ad_hyq li div span {
    height: 26px;
    color: #888;
    font-size: 9pt;
    line-height: 26px
}

.index_ad_hyq li .go {
    float: right;
    margin-top: 9pt;
    width: 5pc;
    height: 30px;
    border: 1px solid #ededed;
    border-radius: 20px;
    color: #ababab;
    text-align: center;
    line-height: 30px;
    transition: .2s all
}

.index_ad_hyq li .go:hover {
    border: 1px solid #6584ff;
    color: #6584ff
}

.tuijian-wz-lb {
    overflow: hidden;
    margin-top: 5px;
    width: 364px
}

.tuijian-wz-lb ul {
    display: block;
    overflow: hidden
}

.tuijian-wz-lb ul li {
    width: 100%;
    height: 25px;
    font-size: 10pt;
    line-height: 22px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
}

.tuijian-wz-lb .bd {
    float: left;
    display: block;
    margin: 9px 5px 0 0;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: #333
}

.tuijian-wz-lb .time {
    float: right;
    margin-right: 22px;
    color: #888;
    font-size: 14px
}

.publictitle {
    width: 100%;
    height: 55px;
    line-height: 55px
}

.publictitle i {
    float: left;
    display: block;
    margin: 19px 10px 10px 15px;
    width: 5px;
    height: 1pc;
    border-radius: 5px;
    background: #6584ff
}

.publictitle span {
    font-size: 1pc
}

.title-bottom {
    border-bottom: 1px solid #6584ff
}

.index-main {
    overflow: hidden;
    width: 75pc
}

.index .big {
    width: 100%;
    height: 50px;
    line-height: 55px
}

.index .big i {
    margin: 19px 10px 10px 15px
}

.index .big span {
    font-size: 1pc
}

.publictitle .more {
    float: right;
    margin: 20px;
    background: url(../images/biaoshi.png) -341px -61px no-repeat;
    cursor: pointer
}

.publictitle .more:hover {
    background: url(../images/biaoshi.png) -390px -61px no-repeat
}

.listbox.publictitle .more, .publictitle .more a {
    display: block;
    width: 35px;
    height: 15px
}

.index-main-news {
    width: 760px;
    height: 450px
}

.news-list {
    overflow: hidden;
    width: 100%
}

.news-list ul {
    float: left;
    width: 375px
}

.news-list ul li {
    margin: 10px 0;
    padding-left: 25px;
    height: 21px;
    background: url(../images/new_list_icons.png) 15px 1px no-repeat
}

.news-list ul li:nth-child(1) {
    margin-top: 5px
}

.news-list ul li:nth-child(15) {
    margin-bottom: 0
}

.news-list ul .new {
    background: url(../images/new_list_icons.png) 14px -15px no-repeat
}

.news-list ul .new .date {
    color: #ff0202
}

.news-list ul li .date {
    float: right;
    margin-right: 10px;
    color: #888;
    font-size: 9pt;
    line-height: 22px
}

.news-list ul li .title {
    display: block;
    overflow: hidden;
    width: 290px;
    text-overflow: ellipsis;
    white-space: nowrap
}

.page_nav {
    position: relative;
    clear: both;
    margin: 1px auto 0;
    width: 100%
}

.page_nav .page_num {
    display: block;
    overflow: hidden;
    margin: auto;
    padding: 0;
    width: 290px;
    height: 35px
}

.home_list .content .page_num {
    padding: 9px 0 10px
}

.page_nav .page_num a, .page_nav .page_num span.current {
    float: left;
    display: block;
    overflow: hidden;
    margin-right: 15px;
    width: 45px;
    height: 27px;
    border-bottom: 10px solid #ededed;
    color: #fff;
    text-align: center;
    font-size: 14px;
    line-height: 30px
}

.page_nav .page_num a:hover {
    background-position: -28px -56px
}

.page_nav .page_num a:active {
    background-position: -56px -56px
}

.page_nav .page_num a:nth-child(5) {
    margin-right: 0
}

.page_nav .page_num a.current, .page_nav .page_num span.current {
    border-bottom: 10px solid #6584ff;
    background: 0 0;
    color: #fff;
    font-weight: 700;
    line-height: 30px
}

.page_nav .page_num a.current:hover {
    background-position: -28px -28px
}

.page_nav .page_num a.current:active {
    background-position: -56px -28px
}

.page_nav .page_num a.pt {
    background-position: 0 0;
    text-indent: -75pt
}

.page_nav .page_num a.pt:hover {
    background-position: -28px 0
}

.page_nav .page_num a.pt:active {
    background-position: -56px 0
}

.page_nav .page_num a.next {
    background-position: 0 -84px
}

.page_nav .page_num a.next:hover {
    background-position: -28px -84px
}

.page_nav .page_num a.next:active {
    background-position: -56px -84px
}

#side_func {
    position: fixed;
    right: 50%;
    bottom: 121px;
    z-index: 1000;
    margin-right: -680px;
    width: 58px;
    height: 232px
}

.single #side_func {
    bottom: 179px
}

#side_func a.sfa {
    z-index: 10;
    display: block;
    overflow: hidden;
    width: 50px;
    height: 50px;
    border-top: 1px solid #eee;
    background-color: #fff;
    color: #333;
    text-align: center;
    font-size: 14px;
    line-height: 56px
}

#side_func a.block1 {
    text-indent: 0
}

#side_func a.block2 {
    display: none;
    background: #fff url(../images/biaoshi.png) -8px -54px no-repeat
}

#side_func a.block2:hover {
    background: #fff url(../images/biaoshi.png) -52px -54px no-repeat
}

.single #side_func a.block2 {
    display: block
}

#side_func a.block3 {
    background: #fff url(../images/biaoshi.png) -126px -52px no-repeat
}

#side_func a.block3:hover {
    background: #fff url(../images/biaoshi.png) -174px -52px no-repeat
}

.single #side_func a.block3 {
    background-color: #fff
}

#side_func a.sfa:hover {
    background-color: #6584ff;
    color: #fff;
    line-height: 56px
}

#side_func a:active {
    background-color: #8f001e
}

#side_func a span {
    float: left;
    display: block;
    overflow: hidden;
    padding-top: 10px;
    width: 50px
}

#side_func #bdshare_l.show_bds {
    position: absolute;
    top: 58px !important;
    left: -212px !important;
    z-index: 10000 !important;
    background: #fff !important
}

#bdshare ul li a, #bdshare_s ul li a {
    font-family: Microsoft Yahei !important
}

#side_func a.joinus {
    background: #457ce6;
    color: #fff
}

#side_func a.joinus:hover {
    background: #be0028
}

#side_func a.joinus:active {
    background: #8f001e
}

#side_func .tougao {
    background: #fff url(../images/biaoshi.png) -225px -51px no-repeat
}

#side_func .tougao:hover {
    background: #fff url(../images/biaoshi.png) -17pc -51px no-repeat
}

#side_func .app {
    background: #fff url(../images/biaoshi.png) -357px -7px no-repeat
}

#side_func .app:hover {
    background: #fff url(../images/biaoshi.png) -404px -8px no-repeat
}

.index-main-ph {
    width: 430px;
    height: 450px
}

.ph-list, .ph-list ul {
    overflow: hidden;
    width: 100%
}

.ph-list ul li {
    width: 100%;
    height: 34px;
    line-height: 34px
}

.ph-list ul li i {
    float: left;
    display: block;
    margin: 7px 10px 0 13px;
    width: 30px;
    height: 22px;
    border-radius: 15px;
    background: #ededed;
    color: #696969;
    text-align: center;
    font-style: normal;
    font-size: 9pt;
    line-height: 22px
}

.ph-list ul li:nth-child(1) i {
    background: #fa4e57;
    color: #fff
}

.ph-list ul li:nth-child(2) i {
    background: #ffc107;
    color: #fff
}

.ph-list ul li:nth-child(3) i {
    background: #03a9f4;
    color: #fff
}

.ph-list ul li:nth-child(4) i {
    background: #4caf50;
    color: #fff
}

.index-plate {
    overflow: hidden;
    margin: 10px auto 0;
    width: 75pc;
    background: #fff
}

.index-bottom .publictitle, .index-plate .publictitle {
    height: 55px
}

.index-plate-title-icon {
    float: left;
    display: block;
    margin-left: 15px;
    width: 50px;
    height: 55px;
    background: url(../images/index-plate-title-icon.png) no-repeat center;
    background-size: 25px
}

.index-plate .type {
    float: right;
    margin-right: 25px;
    font-weight: 100
}

.index-plate-list {
    overflow: hidden;
    width: 100%;
    height: 575px
}

.index-plate .type a {
    display: inline-block;
    margin-left: 13px;
    padding: 0 10px;
    height: 30px;
    color: #ababab;
    text-indent: 0;
    font-size: 14px;
    line-height: 30px;
    cursor: pointer
}

.index-plate .type .hover {
    border-radius: 6px;
    background: #6584ff;
    color: #fff
}

.index-plate-list .tpl-tr-wai {
    overflow: hidden;
    height: 579px
}

.index-plate-list .list-top {
    float: left;
    margin: 25px 21px 0;
    width: 1155px
}

.index-plate-list .list-tr {
    width: 2564px;
    transition: .5s all
}

.index-plate-list .list-top:nth-child(1) {
    margin-right: 25px
}

.index-plate-list .list-top ul {
    float: left;
    margin-right: 2%;
    width: 32%
}

.index-plate-list .list-top ul:nth-child(3n) {
    margin-right: 0
}

.index-plate-list .list-top li {
    margin-bottom: 5px;
    width: 100%
}

.index-plate-list .list-top li:nth-last-child(1) {
    margin-bottom: 0
}

.index-plate-list .list-top li a {
    display: block;
    overflow: hidden;
    height: 30px;
    line-height: 30px
}

.index-plate-list .list-top li a font {
    float: left;
    display: block;
    margin-right: 10px;
    background: url(../images/index-plate.svg) 0 10px no-repeat;
    background-size: 10px;
    color: #ababab;
    text-indent: 9pt
}

.index-plate-list .list-top li a span {
    float: left;
    overflow: hidden;
    width: calc(100% - 7px - 5pc);
    height: 30px;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 33px
}

.index-plate-list .list-top li a .list-img {
    overflow: hidden;
    width: 100%;
    height: 200px;
    border-radius: 5px;
    background: #f6f6f6
}

.index-plate-list .list-top li a .list-img img:hover {
    transition: all .5s;
    transform: scale(1.2)
}

.index-plate-list .list-top li a .list-img img {
    width: 100%;
    min-height: 100%
}

.index-plate-list .list-top li:nth-child(1) {
    margin-bottom: 24px;
    border-radius: 5px;
    transition: all .3s
}

.index-plate-list .list-top li:nth-child(1):hover {
    box-shadow: 0 9pt 24px #e2e2e2
}

.index-plate-list .list-top li:nth-child(1) a {
    position: relative;
    height: auto
}

.index-plate-list .list-top li:nth-child(1) a span {
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 60px;
    border-radius: 0 0 5px 5px;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, .5)));
    background: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, .5));
    background: -ms-linear-gradient(top, transparent, #000);
    color: #fff;
    text-indent: 15px;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 70px
}

.index-bottom {
    overflow: hidden;
    margin-bottom: 10px
}

.index-look {
    overflow: hidden;
    width: 760px;
    height: 440px;
    background: #fff
}

.index-look-list {
    overflow: hidden;
    padding: 20px 15px 6px;
    width: 730px
}

.index-look-list li {
    position: relative;
    float: left;
    overflow: hidden;
    margin-right: 2%;
    margin-bottom: 2%;
    width: 23.5%;
    height: 125px;
    border-radius: 4px
}

.index-look-list li:nth-child(4n+0) {
    margin-right: 0
}

.index-look-list li img {
    width: 100%;
    height: 100%
}

.index-look-list li:hover img {
    transition: all .5s;
    transform: scale(1.2)
}

.index-look-list span a {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, .5)));
    background: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, .5));
    background: -ms-linear-gradient(top, transparent, #000);
    background-color: transparent;
    color: #fff;
    text-indent: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 205px
}

.index-look-lists {
    overflow: hidden;
    margin: auto;
    padding-top: 8px;
    width: 730px;
    border-top: 1px solid #f1f1f1
}

.index-look-lists ul li {
    float: left;
    overflow: hidden;
    margin-right: 4%;
    width: 30%;
    height: 40px;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 34px
}

.index-look-lists ul li:nth-child(3n+0) {
    margin-right: 0
}

.index-look-lists ul li i {
    float: left;
    display: block;
    margin: 14px 10px 0 0;
    width: 4px;
    height: 4px;
    border-radius: 15px;
    background: #ededed;
    color: #696969;
    text-align: center;
    font-style: normal;
    font-size: 9pt;
    line-height: 22px
}

.index-look-lists li:nth-child(1) i {
    background: #fa4e57;
    color: #fff
}

.index-look-lists li:nth-child(2) i {
    background: #ffc107;
    color: #fff
}

.index-look-lists li:nth-child(3) i {
    background: #03a9f4;
    color: #fff
}

.index-zx {
    overflow: hidden;
    width: 430px;
    height: 440px;
    background: #fff
}

.index-zx-list {
    overflow: hidden;
    padding: 15px 0
}

.index-zx-list ul {
    overflow: hidden;
    width: 100%
}

.index-zx-list ul li {
    width: 100%;
    height: 40px;
    line-height: 34px
}

.index-zx-list ul li i {
    float: left;
    display: block;
    margin: 14px 10px 0 15px;
    width: 4px;
    height: 4px;
    border-radius: 15px;
    background: #ededed;
    color: #696969;
    text-align: center;
    font-style: normal;
    font-size: 9pt;
    line-height: 22px
}

.index-zx-list li:nth-child(1) i {
    background: #fa4e57;
    color: #fff
}

.index-zx-list li:nth-child(2) i {
    background: #ffc107;
    color: #fff
}

.index-zx-list li:nth-child(3) i {
    background: #03a9f4;
    color: #fff
}

.index-zx-list li:nth-child(4) i {
    background: #4caf50;
    color: #fff
}

.link {
    overflow: hidden;
    width: 75pc
}

.linklist, .linklist ul {
    overflow: hidden;
    margin: 0 auto 6px;
    width: 1170px
}

.linklist ul li {
    float: left;
    padding: 10px;
    background: url(../images/link.png) left center no-repeat;
    text-indent: 10px
}

.footer {
    overflow: hidden;
    padding: 70px 0;
    background: #282d36;
    color: #999
}

.footer a {
    color: #999;
    -webkit-transition: all .3s ease 0s;
    transition: all .3s ease 0s
}

.footer a:hover {
    color: #fff
}

.footer-main {
    overflow: hidden;
    margin: auto;
    width: 75pc
}

.flogo {
    overflow: hidden;
    margin-bottom: 10px;
    width: 200px
}

.flogo a, .flogo a span {
    display: block;
    width: 200px;
    height: 60px
}

.flogo a span {
    background: no-repeat url(../images/biaoshi.png) -9pt -206px
}

.footer-icon {
    display: flex;
    height: 40px;
    align-items: center
}

.footer-icon a {
    float: left;
    margin-right: 10px;
    background: #3d424a
}

.footer-icon a, .footer-icon i {
    display: block;
    border-radius: 30px
}

.footer-icon i {
    width: 40px;
    height: 40px;
    -webkit-transition: all .3s ease 0s;
    transition: all .3s ease 0s
}

.footer-icon-sitemap {
    background: no-repeat url(../images/biaoshi.png) -87px -9pc
}

.footer-icon a:hover > .footer-icon-sitemap {
    background: #6584ff no-repeat url(../images/biaoshi.png) -87px -9pc
}

.footer-icon-qzone {
    background: no-repeat url(../images/biaoshi.png) -3pc -145px
}

.footer-icon a:hover > .footer-icon-qzone {
    background: #ffce00 no-repeat url(../images/biaoshi.png) -3pc -145px
}

.footer-icon-weibo {
    background: no-repeat url(../images/biaoshi.png) -127px -145px
}

.footer-icon a:hover > .footer-icon-weibo {
    background: #f70000 no-repeat url(../images/biaoshi.png) -127px -145px
}

.footer-icon-qq {
    background: no-repeat url(../images/biaoshi.png) -9px -145px
}

.footer-icon a:hover > .footer-icon-qq {
    background: #1e9fff no-repeat url(../images/biaoshi.png) -9px -145px
}

.footer-link {
    margin-top: 15px
}

.footer-link a {
    color: #666;
    letter-spacing: 1px;
    font-size: 9pt;
    line-height: 20px;
    cursor: pointer
}

.footer-link a:hover {
    color: #999
}

.footer-nav {
    width: 50%;
    text-align: justify
}

.footet-nav-list {
    display: inline-block;
    vertical-align: top
}

.footer-nav .footet-nav-list h3 {
    margin-bottom: 15px;
    color: #fff;
    letter-spacing: 0;
    font-size: 1pc;
    line-height: 30px
}

.footer-nav .footet-nav-list li {
    color: #999;
    font-size: 9pt;
    line-height: 25px
}

.footer-nav .hz-icon li {
    padding-right: 90pt;
    align-items: center
}

.footer-nav .hz-icon a {
    float: left;
    display: block;
    margin: 0 15px 20px 0;
    opacity: .5
}

.footer-nav .hz-icon a:hover {
    opacity: 1
}

.footer-nav .hz-icon a span {
    display: block
}

.footer-nav .hz-icon .upyun {
    width: 70px;
    height: 25px;
    background: no-repeat url(../images/biaoshi.png) -81pt -102px
}

.footer-nav .hz-icon .qiniuyun {
    width: 90px;
    height: 25px;
    background: no-repeat url(../images/biaoshi.png) -270px -102px
}

.footer-nav .hz-icon .aliyun {
    width: 85px;
    height: 25px;
    background: no-repeat url(../images/biaoshi.png) -180px -102px
}

.footer-nav .hz-icon .txyun {
    width: 88px;
    height: 25px;
    background: no-repeat url(../images/biaoshi.png) -18px -102px
}

.footer-nav .qr {
    float: right
}

.footer-nav .qr span {
    display: block;
    width: 122px;
    height: 122px;
    background: no-repeat url(../images/biaoshi.png) -244px -145px
}

.footer-nav .qr h3 {
    margin: 15px 0 0;
    text-align: center
}

.tounav {
    height: 50px;
    background: #fff
}

.tounav ul {
    margin: auto;
    width: 100%;
    height: 50px
}

.tounav ul ol {
    float: left;
    margin: 10px 0;
    padding: 0 10px;
    height: 30px;
    border-right: 1px solid #e6e6e6;
    color: #393d49;
    font-size: 1pc;
    line-height: 30px
}

.tounav ul li {
    float: left;
    margin: 10px 0 10px 9pt;
    padding: 0 14px;
    border: 1px solid #e8e8e8;
    border-radius: 40px;
    line-height: 30px;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
    -ms-transition: all .3s linear
}

.tounav ul li a {
    display: block;
    color: #333
}

.tounav ul li:hover {
    border: 1px solid #6584ff
}

.tounav ul li:hover a {
    color: #6584ff
}

.tounav .dq {
    color: #333
}

.tounav .dq, .tounav .dq a, .tounav .dq a:hover {
    color: #6584ff
}

.tounav .dq {
    border: 1px solid #6584ff
}

.wrapper {
    overflow: hidden;
    width: 75pc
}

.artlist {
    overflow: hidden;
    width: 865px;
    border-top: 3px solid #6584ff
}

.artlist .lmtitle {
    float: right;
    display: block;
    padding: 10px;
    padding-left: 10px;
    height: 20px;
    color: #6584ff;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px
}

.artlist .current_nav, .softlist .current_nav {
    margin: auto;
    width: 830px;
    height: 40px;
    border-bottom: 1px solid #e6e6e6;
    color: #888;
    font-size: 14px
}

.artlist .current_nav .layui-breadcrumb, .softlist .current_nav .layui-breadcrumb {
    float: left;
    display: block;
    padding: 10px;
    padding-left: 10px;
    height: 20px;
    font-size: 1pc;
    line-height: 20px
}

.artlist .ulcl {
    display: block;
    overflow: hidden
}

.artlist .ulcl li {
    margin: 10px auto;
    padding-top: 20px;
    padding-bottom: 26px;
    width: 95%;
    height: 13pc;
    border-bottom: 1px solid #ededed
}

.artlist .ulcl .title {
    margin-bottom: 25px;
    font-size: 18px
}

.artlist .ulcl li .item-main {
    position: relative;
    overflow: hidden;
    width: 100%
}

.artlist .ulcl .info {
    overflow: hidden;
    margin-left: 229px;
    color: #666
}

.artlist .ulcl .info .desc {
    margin-top: 10px;
    margin-bottom: 25px;
    color: #666;
    text-align: justify;
    font-size: 15px;
    line-height: 30px
}

.artlist .ulcl .info .detail {
    position: absolute;
    bottom: 0;
    width: 590px;
    color: #333;
    line-height: 30px
}

.artlist .ulcl .info .ml30 {
    margin-left: 30px
}

.artlist .ulcl .info .btn {
    width: 92px;
    height: 28px;
    border: 1px solid #c2c2c2;
    border-radius: 2px;
    color: #999;
    text-align: center;
    letter-spacing: 2px;
    font-size: 14px;
    line-height: 28px
}

.artlist .ulcl .info .btn:hover {
    border-color: #5db175;
    background: #6584ff;
    color: #fff
}

.list-title {
    position: relative;
    margin: 15px 0;
    width: 650px;
    height: 130px
}

.list-title h2 {
    padding: 5px 0;
    font-size: 17px;
    line-height: 20px
}

.list-title .browse, .list-title .time {
    display: -webkit-inline-box;
    padding: 2px 10px 0 0;
    color: #777;
    font-size: 13px
}

.list-title .browse a {
    color: #777
}

.list-title .browse i, .list-title .time i {
    margin-right: 5px;
    color: #777;
    font-size: 14px
}

.list-title .memo {
    margin-top: 5px;
    color: #888;
    font-size: 13px;
    line-height: 20px
}

.list-title .tags {
    position: absolute;
    bottom: -5px;
    display: block;
    margin-top: 7px;
    color: #333;
    font-size: 9pt
}

.list-title .tags a {
    display: inline-block;
    margin: 0 5px 5px 0;
    padding: 4px 10px;
    border-radius: 2px;
    background-color: #45b6f7;
    color: #fff;
    font-weight: 400
}

.list-title .tags a:nth-child(5n+1) {
    background-color: #1ac756
}

.list-title .tags a:nth-child(5n+2) {
    background-color: #ff5e5c
}

.list-title .tags a:nth-child(5n+3) {
    background-color: #ffbb50
}

.list-title .tags a:nth-child(5n+4) {
    background-color: #19b5fe
}

.list-title .tags a:hover {
    background-color: #1b1b1b;
    color: #fff
}

.list-title .tags a {
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
    -ms-transition: all .3s linear
}

.pagelist li {
    float: left;
    padding: 2px
}

.pagelist .thisclass a {
    display: block;
    background: #6584ff;
    color: #fff
}

.fenye {
    padding-left: 20px
}

.sidebar {
    float: right;
    width: 20pc
}

.newsarticle {
    width: 20pc;
    height: 345px
}

.sidebar .sb_list {
    z-index: 0;
    overflow: hidden;
    margin-bottom: 10px;
    background: #fff;
    line-height: 1px
}

.sidebar .sb_list .bx {
    padding: 9px;
    width: 300px
}

.sbb {
    border: 1px solid #e8e8e8;
    border-top: 0
}

.rm_hot, .tags_title {
    padding: 0 10px;
    height: 38px;
    border-top: 3px solid #457ce6;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 38px
}

.tags_title {
    background: #457ce6;
    color: #fff
}

ul.sub_ul {
    padding-top: 10px
}

ul.sub_ul li {
    overflow: hidden;
    margin-bottom: 6px;
    padding: 0 10px 6px;
    border-bottom: 1px dotted #e7e7e7;
    list-style: none;
    vertical-align: bottom
}

ul.side_tags li {
    float: left;
    width: 139px;
    color: #888
}

ul.side_tags li a {
    margin-right: 10px
}

ul.sub_ul li span.nick {
    margin-right: 9pt;
    color: #be0028
}

ul.sub_ul li p {
    clear: both;
    padding-bottom: 5px;
    word-wrap: break-word;
    word-break: normal
}

ul.sub_ul li .comm_reply {
    float: right
}

ul.side_products {
    padding-top: 10px;
    background: #f2f3f4
}

ul.side_products li {
    padding: 0 8px 10px 9px;
    height: 5pc;
    list-style: none
}

.hotnews_list ul li.bg {
    background-color: #f6f9fa
}

.right_con .list {
    position: relative;
    z-index: 1000;
    z-index: 0;
    float: left;
    overflow: hidden;
    margin-top: -1px;
    padding: 0 10px;
    padding-top: 5px;
    background: url(../images/hot_title_bg.gif) 10px 13px no-repeat
}

.right_con .list .number {
    position: absolute;
    top: 8px;
    left: 9px;
    width: 20px;
    height: 370px
}

.right_con .list ul li {
    float: left;
    padding: 7px 0;
    padding-left: 8px;
    width: 258px;
    font-size: 9pt;
    line-height: 17px;
    zoom: 1
}

.right_con .list ul li a {
    float: left;
    overflow: hidden;
    width: 260px;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 17px
}

.right_con .list ul li a:hover {
    text-decoration: underline
}

.post_right_con {
    width: 20pc
}

.other_pro {
    width: 280px;
    height: 7pc;
    border-bottom: 1px solid #dbdbdb
}

.other_pro a {
    display: block;
    width: 278px;
    height: 56px
}

.top_news {
    overflow: hidden;
    width: 318px;
    border: 1px solid #e8e8e8;
    border-top: 0
}

.site_ad {
    clear: both;
    overflow: hidden;
    padding: 15px;
    width: 250px;
    height: 250px;
    background: #f6f9fa
}

.right_con .bar {
    position: relative;
    padding: 0 10px;
    height: 35px;
    border-top: 3px solid #6584ff;
    background: #fdfdfd;
    white-space: nowrap;
    font-size: 14px;
    line-height: 34px
}

.right_con .bar ul {
    overflow: hidden;
    width: 298px
}

.right_con_win .bar ul {
    width: 280px
}

.right_con .bar ul li {
    float: left;
    padding: 0 9pt;
    height: 35px;
    border-bottom: 1px solid #e5e5e5;
    line-height: 36px;
    cursor: pointer
}

.right_con .bar ul li#must {
    padding: 0 13px 0 9pt;
    line-height: 36px
}

.right_con_win .bar ul li {
    padding: 0 6px
}

.right_con .bar ul li.current {
    border-bottom: 1px solid #6584ff;
    background: #fff;
    color: #6584ff
}

.hotnews_list {
    position: relative;
    clear: both;
    width: 20pc;
    border-top: 0;
    line-height: 17px
}

.sb_list .hn_title {
    padding: 0 15px;
    height: 40px;
    border-top: 3px solid #6584ff;
    border-bottom: 1px solid #e6e6e6;
    color: #000;
    text-decoration: none;
    font-size: 1pc;
    line-height: 39px
}

.right_tag a {
    float: left;
    display: block;
    margin: 5px;
    padding: 5px 10px;
    border: 1px solid #e8e8e8;
    border-radius: 20px;
    transition: all .5s
}

.right_tag a:hover {
    border: 1px solid #6584ff;
    color: #6584ff
}

.hotnews_list ul li.hn_li {
    float: left;
    display: inline;
    padding: 4px 15px;
    width: 298px;
    zoom: 1
}

.hotnews_list ul li.hn_li a {
    display: inline-block;
    overflow: hidden;
    width: 290px;
    text-overflow: ellipsis;
    white-space: nowrap
}

.hotnews_list ul li.hn_li span {
    color: #9f9f9f
}

.hotnews_list ul, hotnews_list ul li.list_pic {
    overflow: hidden;
    zoom: 1
}

.hotnews_list li.list_pic {
    float: left;
    margin-bottom: 5px;
    padding: 10px 6px;
    width: 146px;
    height: 154px;
    border-bottom: 1px dotted #ddd;
    text-align: center
}

.hotnews_list li.list_pic a {
    display: block;
    padding: 0 15px
}

.hotnews_list li.list_pic a.hn_img {
    padding-bottom: 10px
}

.hotnews_list li.list_pic a.hn_img img {
    width: 110px;
    height: 110px
}

.right_remen {
    border-top: 0
}

.right_remen-list, .right_remen-list ul {
    overflow: hidden;
    padding: 2px 0 4px;
    width: 100%
}

.right_remen-list ul li {
    width: 100%;
    height: 2pc;
    line-height: 2pc;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
}

.right_remen-list ul li i {
    float: left;
    display: block;
    margin: 7px 10px 0 13px;
    width: 30px;
    height: 22px;
    border-radius: 15px;
    background: #ededed;
    color: #696969;
    text-align: center;
    font-style: normal;
    font-size: 9pt;
    line-height: 22px
}

.right_remen-list ul li:nth-child(1) i {
    background: #fa4e57;
    color: #fff
}

.right_remen-list ul li:nth-child(2) i {
    background: #ffc107;
    color: #fff
}

.right_remen-list li:nth-child(3) i {
    background: #03a9f4;
    color: #fff
}

.right_remen-list li:nth-child(4) i {
    background: #4caf50;
    color: #fff
}

.toubreadcrumb {
    height: 50px;
    border-left: 5px solid #6584ff;
    background: #fff
}

.toubreadcrumb span {
    display: block;
    font-size: 18px;
    line-height: 50px
}

.artcontent {
    overflow: hidden;
    width: 865px;
    border-top: 3px solid #6584ff
}

.artcontent .current_nav {
    margin: auto;
    width: 830px;
    height: 40px;
    border-bottom: 1px solid #e6e6e6;
    color: #888;
    font-size: 14px
}

.artcontent .current_nav .layui-breadcrumb {
    display: block;
    padding: 10px;
    padding-left: 10px;
    height: 20px;
    font-size: 1pc
}

.artcontent .post_title h1 {
    font-size: 26px
}

.artcontent .post_title span i {
    display: block;
    margin-top: 0;
    margin-right: 5px;
    color: #777;
    font-size: 15px
}

.artcontent .post_title .browse, .artcontent .post_title .comment, .artcontent .post_title .source, .artcontent .post_title .time {
    display: -webkit-inline-box;
    margin: 10px 10px 0 0;
    height: 20px;
    color: #777;
    font-size: 9pt;
    line-height: 20px
}

.artcontent .post_title .time i {
    font-size: 15px
}

.artcontent .post_title .browse i {
    font-size: 14px
}

.artcontent .post_content {
    overflow: hidden;
    margin: 0 auto;
    width: 820px
}

.artcontent .post_content p {
    padding: 10px 0;
    color: #424242;
    text-align: justify;
    word-wrap: break-word;
    font-size: 1pc;
    line-height: 30px
}

.post_content blockquote {
    position: relative;
    margin: 30px 0;
    padding: 45px;
    border-color: #c0c6cc;
    border-left: 4px solid #c0c6cc;
    background-color: #f8f8fa;
    font-family: Lantinghei SC, Open Sans, Arial, Hiragino Sans GB, Microsoft YaHei, \\5fae\8F6F\96c5\9ED1, STHeiti, WenQuanYi Micro Hei, SimSun, sans-serif
}

.post_content blockquote:before {
    top: 20px;
    left: 20px;
    background: url(../images/blockquote.png) no-repeat 0 0
}

.post_content blockquote:after, .post_content blockquote:before {
    position: absolute;
    display: block;
    width: 1pc;
    height: 14px;
    content: ''
}

.post_content blockquote:after {
    right: 20px;
    bottom: 20px;
    background: url(../images/blockquote.png) no-repeat -1pc 0
}

.post_content h4 {
    padding: 10px;
    border: 1px solid #f1f1f1;
    border-radius: 5px;
    background: #f1f1f1;
    font-weight: 700;
    font-size: 1pc
}

.post_content h2, .post_content h4 {
    margin: 10px 0;
    color: #333;
    line-height: 30px;
}

.post_content h2 {
    font-size: 18px !important
}

.post_content h2:before {
    content: " ";
    width: 5px;
    height: 15px;
    border-radius: 10px;
    background: #6584ff;
    margin: 7px 7px 0 0;
    display: block;
    float: left
}

.post_content h2, .post_content strong {
    font-weight: 700;
    font-size: 1pc
}

.post_content img {
    margin: 0
}

.artcontent .post_content img {
    max-width: 100%;
    max-height: 100%
}

.artcontent .post_content .note {
    margin: 10px auto;
    padding: 20px 15px;
    width: 770px;
    border-left: 5px solid #a7a7a7;
    border-radius: 5px;
    background: #f1f1f1;
    color: #4c4c4c
}

.artcontent .post_content .note p {
    font-size: 13px
}

.artcontent .post_note {
    margin: 15px auto 10px;
    width: 820px;
    color: #777;
    font-size: 14px;
    line-height: 1.7
}

.artcontent .post_note blockquote {
    padding: 1em;
    border-radius: 5px;
    background: #f0f0f0;
    text-align: justify
}

.hot_tags {
    overflow: hidden;
    margin: auto;
    padding: 10px;
    width: 820px
}

.hot_tags span {
    display: -webkit-inline-box;
    margin: 7px 0
}

.hot_tags span a {
    margin: 0 5px 5px 0;
    padding: 4px 10px;
    border-radius: 2px;
    background-color: #45b6f7;
    color: #fff;
    font-weight: 400
}

.hot_tags span a:nth-child(5n+1) {
    background-color: #1ac756
}

.hot_tags span a:nth-child(5n+2) {
    background-color: #ff5e5c
}

.hot_tags span a:nth-child(5n+3) {
    background-color: #ffbb50
}

.hot_tags span a:nth-child(5n+4) {
    background-color: #19b5fe
}

.hot_tags span a:hover {
    background-color: #1b1b1b;
    color: #fff
}

.hot_tags span a {
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
    -ms-transition: all .3s linear
}

.sfotmao {
    position: relative;
    top: -25px;
    width: 50px;
    height: 0
}

.artcontent .gduo, .softcontent .gduo {
    overflow: hidden;
    margin: 10px 0;
    padding: 5px
}

.artcontent .gduo span, .softcontent .gduo span {
    float: left;
    display: block;
    overflow: hidden;
    padding: 10px;
    width: 47%;
    text-overflow: ellipsis;
    white-space: nowrap
}

.artcontent .gduo span:nth-child(2), .softcontent .gduo span:nth-child(2) {
    float: right
}

.artcontent .xiangguan, .topcontent {
    overflow: hidden;
    width: 865px
}

.artcontent .xiangguan {
    margin: 10px 0;
    padding-bottom: 5px
}

.artcontent .xiangguan ul {
    float: left;
    margin: 0 0 5px;
    width: 100%
}

.artcontent .xiangguan ul.list_2 {
    margin-left: 20px
}

.artcontent .xiangguan ul li {
    float: left;
    overflow: hidden;
    margin: 0 8px 14px;
    padding: 0 0 0 20px;
    width: 391px;
    background: url(../images/new_list_icons.png) 6px 1px no-repeat;
    list-style: none;
    vertical-align: bottom
}

.artcontent .xiangguan ul li a {
    float: left;
    display: block;
    overflow: hidden;
    width: 325px;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap
}

.artcontent .xiangguan ul li .date {
    float: right;
    color: #888
}

.artcontent .xiangguanul li a.rp_list_img {
    display: block;
    overflow: hidden;
    margin: 0 11px;
    width: 6pc;
    border: 1px solid #cedbeb
}

.artcontent .xiangguan ul li img {
    width: 6pc;
    height: 6pc
}

.artcontent .xiangguanul li span {
    float: right
}

.artcontent .xiangguan ul li span.rp_span {
    color: #be0028
}

.goodlook {
    overflow: hidden;
    margin: 10px 0;
    padding-bottom: 10px;
    width: 865px
}

.goodlook ul {
    overflow: hidden;
    margin: auto;
    width: 849px
}

.goodlook ul li {
    position: relative;
    float: left;
    margin: 0 5px 10px;
    padding: 2px;
    border: 1px solid #ccc
}

.goodlook ul li, .goodlook ul li img {
    width: 196px;
    height: 146px
}

.goodlook ul li span {
    position: relative;
    display: block;
    overflow: hidden;
    height: 146px
}

.goodlook ul li img:hover {
    transition: all .5s;
    transform: scale(1.2)
}

.goodlook ul li p {
    position: absolute;
    bottom: 2px;
    display: block;
    overflow: hidden;
    padding: 0 5px;
    width: 186px;
    height: 40px;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, .7)));
    background: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, .7));
    background: -ms-linear-gradient(top, transparent, #000);
    background-color: transparent;
    color: #fff;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
    line-height: 45px
}

.artcontent .pinglun, .softcontent .pinglun {
    overflow: hidden;
    margin: 10px 0 0;
    width: 865px
}

.softlist {
    overflow: hidden;
    width: 9in;
    border-top: 3px solid #6584ff
}

.softlist .softli {
    overflow: hidden;
    margin: 10px 0;
    width: 9in
}

.softlist .softli li {
    float: left;
    margin: 10px 0 10px 1pc;
    width: 194px;
    height: 283px;
    border: 1px solid #e6e6e6
}

.softlist .softli li img:hover {
    transition: all .3s;
    transform: scale(1.03)
}

.softlist .softli li img {
    display: block;
    margin: 7px;
    width: 180px;
    height: 90pt
}

.softlist .softli li h2 {
    display: block;
    overflow: hidden;
    margin: 0 10px;
    padding: 5px 0;
    width: 170px;
    white-space: inherit;
    font-size: 1pc
}

.softlist .softli li p {
    margin: auto;
    width: 170px;
    height: 60px;
    color: #888;
    font-size: 9pt;
    line-height: 20px
}

.softlist .softli li .info {
    position: relative;
    margin: 5px auto;
    width: 170px;
    border-top: 1px solid #e6e6e6
}

.softlist .softli li .info a {
    color: #777
}

.softlist .softli li .info span i {
    margin-right: 5px;
    color: #777
}

.softlist .softli li .info .browse, .softlist .softli li .info .source, .softlist .softli li .info .time {
    display: -webkit-inline-box;
    padding: 7px 5px 0 0;
    color: #777;
    font-size: 9pt
}

.softlist .softli li .info .time i {
    font-size: 9pt
}

.softlist .softli li .info .browse i {
    font-size: 10px
}

.softlist .softli li .info .source i {
    font-size: 9pt
}

.softcontent {
    overflow: hidden;
    width: 865px;
    border-top: 3px solid #6584ff
}

.softcontent .current_nav {
    margin: auto;
    width: 830px;
    height: 40px;
    border-bottom: 1px solid #e6e6e6;
    color: #888;
    font-size: 14px
}

.softcontent .current_nav .layui-breadcrumb {
    display: block;
    padding: 10px;
    padding-left: 10px;
    height: 20px;
    font-size: 1pc
}

.post_title {
    margin: 15px auto;
    width: 820px
}

.post_soft_info {
    overflow: hidden;
    padding: 5px 25px 25px;
    border-bottom: 10px solid #f0f0f0
}

.post_soft_info_left {
    overflow: hidden;
    width: 250px;
    height: 200px
}

.post_soft_info_left img {
    padding: 1px;
    width: 246px;
    height: 196px;
    border: 1px solid #ededed
}

.post_soft_info_right {
    margin-left: 25px;
    width: 535px;
    height: 200px;
    color: #666;
    font-size: 14px
}

.post_soft_info_right ul {
    overflow: hidden
}

.post_soft_info_right ul li {
    float: left;
    width: 165px
}

.pingfen span, .pingtai span, .post_soft_info_right ul li span {
    color: #333
}

.post_soft_info_right .pingfen, .post_soft_info_right .pingtai, .post_soft_info_right ul li {
    overflow: hidden;
    height: 35px;
    color: #999;
    line-height: 35px
}

.post_soft_info_mao {
    overflow: hidden;
    margin: 14px 0 0;
    width: 100%
}

.post_soft_info_mao .fenxiang {
    float: left;
    margin: 11px 20px
}

.post_soft_info_mao .fenxiang .bdsharebuttonbox a.bds_sqq {
    background: url(../images/qq.svg) no-repeat !important;
    background-size: 30px 30px !important
}

.post_soft_info_mao .fenxiang .bdsharebuttonbox a.bds_qzone {
    background: url(../images/qzone.svg) no-repeat !important;
    background-size: 30px 30px !important
}

.post_soft_info_mao .fenxiang .bdsharebuttonbox a {
    margin: 0 4px !important;
    width: 30px !important;
    height: 30px !important
}

.post_soft_info_mao .fenxiang .bdsharebuttonbox a.bds_weixin {
    background: url(../images/weixin.svg) no-repeat !important;
    background-size: 30px 30px !important
}

.post_soft_info_mao .fenxiang .bdsharebuttonbox a.bds_tsina {
    background: url(../images/weibo.svg) no-repeat !important;
    background-size: 30px 30px !important
}

.post_soft_info_mao .fenxiang .bdsharebuttonbox .bds_more {
    float: right;
    padding: 0 !important;
    width: 30px !important;
    height: 30px !important;
    background: url(../images/plus.svg) no-repeat !important;
    background-size: 30px 30px !important
}

.bdshare-button-style1-24 .bds_more, .bdshare-button-style1-24 a {
    padding: 0 !important
}

.post_soft_info_mao .down {
    float: left;
    display: block;
    margin: 0 5px 5px;
    width: 150px;
    height: 50px;
    border: 1px solid #6584ff;
    background: #fff;
    text-align: center;
    line-height: 50px
}

.post_soft_info_mao .down:hover {
    border-radius: 35px;
    box-shadow: 0 2px 8px #f0f0f0;
    transition: all .3s
}

.post_soft_info_mao .down a {
    display: block;
    color: #6584ff;
    font-weight: bolder;
    font-size: 1pc
}

.post_box_title {
    margin: 10px 0;
    height: 45px;
    border-bottom: 1px solid #e6e6e6;
    font-size: 1pc
}

.post_box_title span {
    float: left;
    display: block;
    margin-right: 5px;
    padding: 0 15px 0 0;
    text-align: center;
    font-size: 14px;
    line-height: 41px
}

.post_box_title .js {
    color: #5a5a5a;
    font-weight: 700;
    font-size: 18px;
    line-height: 40px
}

.softcontent .post_title h1 {
    font-weight: 400;
    font-size: 26px
}

.softcontent .xiangguan {
    overflow: hidden;
    margin: 10px 0;
    padding-bottom: 10px;
    width: 9in
}

.hot_tags .bdsharebuttonbox a.bds_sqq {
    background: url(../images/qq.svg) no-repeat !important;
    background-size: 30px 30px !important
}

.hot_tags .bdsharebuttonbox a.bds_qzone {
    background: url(../images/qzone.svg) no-repeat !important;
    background-size: 30px 30px !important
}

.hot_tags .bdsharebuttonbox a {
    margin: 0 4px !important;
    width: 30px !important;
    height: 30px !important
}

.hot_tags .bdsharebuttonbox a.bds_weixin {
    background: url(../images/weixin.svg) no-repeat !important;
    background-size: 30px 30px !important
}

.hot_tags .bdsharebuttonbox a.bds_tsina {
    background: url(../images/weibo.svg) no-repeat !important;
    background-size: 30px 30px !important
}

.hot_tags .bdsharebuttonbox .bds_more {
    float: right;
    padding: 0 !important;
    width: 30px !important;
    height: 30px !important;
    background: url(../images/plus.svg) no-repeat !important;
    background-size: 30px 30px !important
}

.softcontent .xiangguan ul {
    float: left;
    margin: 0 0 5px;
    width: 100%
}

.softcontent .xiangguan ul.list_2 {
    margin-left: 20px
}

.softcontent .xiangguan ul li {
    float: left;
    overflow: hidden;
    margin: 5px 8px;
    padding: 0 0 0 15px;
    width: 391px;
    background: url(../images/arlist_icon.png) 5px center no-repeat;
    list-style: none;
    vertical-align: bottom
}

.softcontent .xiangguan ul li a {
    float: left;
    display: block;
    overflow: hidden;
    width: 325px;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap
}

.softcontent .xiangguan ul li .date {
    float: right;
    color: #888
}

.softcontent .xiangguanul li a.rp_list_img {
    display: block;
    overflow: hidden;
    margin: 0 11px;
    width: 6pc;
    border: 1px solid #cedbeb
}

.softcontent .xiangguan ul li img {
    width: 6pc;
    height: 6pc
}

.softcontent .xiangguanul li span {
    float: right
}

.softcontent .xiangguan ul li span.rp_span {
    color: #be0028
}

.softcontent.pinglun {
    overflow: hidden;
    margin: 10px 0;
    width: 865px
}

.post_content p a {
    padding-bottom: 2px;
    box-shadow: 0 1px;
    color: #6584ff
}

.post_content p a:hover {
    padding-bottom: 2px;
    box-shadow: 0 1px;
    color: #666
}

.softcontent .post_content {
    overflow: hidden;
    margin: auto;
    width: 820px
}

.softcontent .post_content p {
    padding: 10px 0;
    color: #424242;
    word-wrap: break-word;
    font-size: 1pc;
    line-height: 30px
}

.softcontent .post_content strong {
    font-weight: 700;
    font-size: 1pc
}

.softcontent .post_content img {
    max-width: 100%;
    max-height: 100%
}

.softcontent .zyxz {
    overflow: hidden;
    margin: 10px 0;
    padding-bottom: 10px;
    width: 865px
}

.softcontent .zyxz .xzlb {
    overflow: hidden;
    margin: 10px auto;
    width: 820px
}

.softcontent .zyxz .xzlb li {
    float: left;
    margin-right: 10px;
    border-bottom: 4px solid #496dfd;
    border-radius: 5px;
    background: #6584ff url(../images/down.png) 15px center no-repeat;
    text-indent: 15px
}

.softcontent .zyxz .xzlb li:hover {
    background: #365cf5 url(../images/down.png) 15px center no-repeat;
    text-indent: 15px;
    cursor: pointer;
    transition: all .3s
}

.softcontent .zyxz .xzlb li a {
    display: block;
    padding: 10px 20px;
    color: #fff
}

.softcontent .post_content .note {
    margin: 10px auto;
    padding: 20px 15px;
    width: 770px;
    border-left: 5px solid #a7a7a7;
    border-radius: 5px;
    background: #f1f1f1;
    color: #4c4c4c
}

.softcontent .post_content .note p {
    font-size: 13px
}

.publictitlexz {
    width: 100%;
    height: 40px;
    line-height: 40px
}

.publictitlexz i {
    float: left;
    display: block;
    margin: 9px 0 9px 13px;
    width: 15px;
    height: 20px;
    background: url(../images/biaoshi.png) -474px -11px no-repeat
}

.publictitlexz span {
    font-size: 1pc
}

.sofenye table {
    margin-top: -2px;
    border: none
}

.sofenye table td {
    float: left;
    display: block;
    margin: 0 3px;
    padding: 3px 5px;
    border: 1px solid #ccc;
    background: #f1f1f1;
    color: #333;
    text-align: center
}

.sofenye table td a {
    text-align: center
}

.sofenye table td b {
    padding: 0 2px
}

.sofenye {
    padding: 15px 7px;
    width: 45pc;
    height: 20px;
    line-height: 20px
}

.sosuojg {
    margin-left: 10px;
    font-size: 18px;
    line-height: 50px
}

.sosuojg strong {
    font-weight: 700;
    font-size: 19px
}

.fenyes {
    overflow: hidden;
    margin-bottom: 10px;
    width: 100%;
    text-align: center
}

.fenyes li {
    display: inline
}

.fenyes li span, .fenyes li > a {
    margin: 0 -1px 5px 0;
    padding: 0 20px;
    height: 35px;
    border-color: #ededed;
    background-color: #fff;
    color: #8e8e8e;
    vertical-align: middle;
    font-size: 14px;
    line-height: 35px
}

.fenyes .thisclass span {
    background: #6584ff;
    color: #fff
}

.fenyes li a:hover {
    color: #6584ff
}

.index-center {
    overflow: hidden;
    margin: 10px 0;
    padding: 10px 0;
    width: 1198px;
    background: #fff url(/skin/images/agg01.gif) right bottom no-repeat
}

@font-face {
    font-family: iconfont;
    src: url(//at.alicdn.com/t/font_387453_tg84xmfm0wq7u8fr.eot?t=1503156986170);
    src: url(//at.alicdn.com/t/font_387453_tg84xmfm0wq7u8fr.eot?t=1503156986170#iefix) format('embedded-opentype'), url(//at.alicdn.com/t/font_387453_tg84xmfm0wq7u8fr.woff?t=1503156986170) format('woff'), url(//at.alicdn.com/t/font_387453_tg84xmfm0wq7u8fr.ttf?t=1503156986170) format('truetype'), url(//at.alicdn.com/t/font_387453_tg84xmfm0wq7u8fr.svg?t=1503156986170#iconfont) format('svg')
}

.iconfont {
    font-style: normal;
    font-size: 1pc;
    font-family: iconfont !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.icon-pinglun:before {
    content: "\e61f"
}

.icon-laiyuan:before {
    content: "\e60a"
}

.icon-laiyuan1:before {
    content: "\e60b"
}

.icon-liulan:before {
    content: "\e62a"
}

.icon-shijian:before {
    content: "\e632"
}

.site-union {
    margin-top: 10px;
    color: #f0f0f0
}

.site-union img {
    width: 5pc
}

.site-union span {
    position: relative;
    top: 1.5px;
    margin-left: 4px;
    color: #ccc
}

.artcontent .post_content .tao {
    padding: 0 10px
}

.card a, span.card a {
    padding-right: 0;
    color: #313131;
    text-decoration: none
}

.card span, span.card span {
    display: block;
    padding-right: 0
}

.card, span.card {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 30px auto;
    padding: 9px;
    border: 1px solid #eee
}

.card:hover, span.card:hover {
    box-shadow: 1px 1px 8px #eee
}

.card .z-tag-baike, .card .z-tag-brand {
    position: absolute;
    top: 9px;
    left: 0;
    padding-right: 3px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0
}

.card-logo {
    float: left;
    margin-right: 14px
}

.card-logo img {
    margin: 0 !important;
    width: 135px;
    height: 135px
}

.card-info {
    overflow: hidden;
    padding-right: 4px
}

.card-info > span {
    display: block
}

.card-info .card-title {
    overflow: hidden;
    line-height: 28px
}

.card-info .card-name {
    overflow: hidden;
    margin-bottom: 10px;
    margin-left: 45px;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 1pc;
    line-height: 34px
}

.card-info .mall-data {
    float: left;
    margin-top: 8px;
    width: 2pc;
    height: 19px;
    border-radius: 4px;
    background-color: #6584ff;
    color: #fff;
    text-align: center;
    font-size: 11px;
    line-height: 20px
}

.card-info .card-name b, .card-info .card-name em, .card-info .card-name strong {
    font-weight: 400
}

.card-info .price {
    float: left;
    color: #6584ff;
    font-size: 1pc
}

.card-info .card-tags {
    overflow: hidden;
    height: 20px
}

.card-info .card-tags > span {
    display: inline-block;
    margin-right: 8px;
    padding: 0 7px;
    height: 1pc;
    border: 1px solid #eee;
    color: #999;
    font-size: 9pt;
    line-height: 1pc
}

.card-info .card-tags span.tag-noborder {
    border: none
}

.card-info .card-abstract {
    overflow: hidden;
    color: #999;
    font-size: 9pt;
    line-height: 18px
}

.card-info .card-controls {
    overflow: hidden;
    margin-top: 40px;
    line-height: 30px
}

.card-info .card-controls .group-data, .card-info .card-controls .mall-data {
    float: left;
    margin-right: 10px;
    color: #999;
    font-size: 9pt
}

.card-info .card-controls .group-data i {
    margin-right: 5px;
    font-style: normal !important
}

.card-info .card-controls .card-inline-split {
    float: left;
    margin-right: 10px;
    color: #ccc;
    font-size: 9pt
}

.card-info .card-btn-deep, .card-info .card-btn-light {
    width: 75pt;
    height: 30px;
    border-radius: 3px;
    text-align: center;
    font-size: 9pt;
    line-height: 28px
}

.card-info .card-btn-deep:hover, .card-info .card-btn-light:hover {
    opacity: .9
}

.card-info .card-btn-light {
    background-color: rgba(0, 102, 102, .1);
    color: #066
}

.card-info .card-btn-deep {
    margin-left: 10px;
    background-color: #066;
    color: #fff
}

.card.main-site .card-info .card-name {
    overflow: hidden;
    margin-top: 7px;
    white-space: normal;
    line-height: 24px
}

.card-info .card-name em, .card.main-site .card-info .card-name b, .card.main-site .card-info .card-name strong {
    margin-left: 6px;
    color: #f04848
}

.card.main-site .card-info .card-abstract {
    margin-bottom: 20px
}

.card.main-site .card-info .card-btn-light {
    background-color: rgba(240, 72, 72, .1);
    color: #f04848
}

.card.main-site .card-info .card-btn-deep {
    float: right;
    margin-right: 10px;
    background-color: #6584ff;
    color: #fff;
    line-height: 30px
}

#MZAD_POP_PLACEHOLDER, #pop_ad {
    margin-top: -250px !important;
    transform: scale(0)
}

.module-cmt-box {
    margin-top: -40px !important;
    padding: 10px 0 !important
}

.header-login {
    left: 90px !important;
    margin-top: 81pt !important;
    border: 0 !important;
    border-radius: 0 !important;
    border-radius: 21px !important
}

.post-wrap-border-l, .post-wrap-border-r, .post-wrap-border-t-l, .post-wrap-border-t-r {
    display: none
}

.post-wrap-main {
    border: 0 !important
}

.post-wrap-w {
    background: #f0f0f0
}

.btn-fw {
    margin-top: -5px !important;
    margin-right: 40px !important;
    width: 60px !important;
    height: 60px !important;
    border-radius: 70px;
    background: #6584ff url(../images/release.svg) center no-repeat !important;
    background-size: 30px !important;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .2);
    -webkit-transition: .3s;
    transition: .3s
}

.btn-fw:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, .2)
}

.block-head-w {
    margin-top: -20px !important
}

.section-service-w {
    height: 0;
    opacity: 0
}

.head-img-w {
    margin: 0 !important
}

.head-img-w img {
    width: 25px !important;
    height: 25px !important
}

.head-img-w img:hover {
    transition: all .3s;
    transform: scale(3)
}

.head-img-w {
    top: 138px !important;
    left: 95px !important
}

.wrap-action-gw {
    padding-top: 30px !important;
    padding-bottom: 1pc !important;
    border-bottom: 1px solid #dee4e9 !important
}

.cmt-list-number, .title-name-gw-tag, .type-lists, .wrap-name-w {
    display: none !important
}

.cmt-list-type {
    margin: 0 !important
}

.build-floor-gw {
    background: #f0f0f0 !important
}

.block-cont-gw {
    padding: 20px 0 !important;
    border: 0 !important
}

.section-list-w {
    margin-left: 2% !important;
    width: 95% !important
}

.head-img-gw img:hover {
    transition: all .3s;
    transform: scale(.9)
}

#feedAv {
    margin-top: -150px !important;
    transform: scale(0)
}

#SOHUCS #SOHU_MAIN .module-cmt-box .post-wrap-w .post-wrap-main {
    background-image: none !important
}

#SOHUCS #SOHU_MAIN .module-cmt-header .section-cbox-w .list-comment-empty-w .empty-prompt-w {
    background: none !important
}