if ($host = 'm.jingyang.org') {
  rewrite ^/$ /m/index.php last;
  rewrite ^/index.html$ /m/index.php last;
  rewrite ^/index.php /m/index.php last;

  rewrite "^/kjxw/$" /m/list.php?tid=1 last;
  rewrite "^/kjxw$" /m/list.php?tid=1 last;
  rewrite "^/kjxw/list_1_([0-9]+).html$" /m/list.php?tid=1&PageNo=$1 last;
  rewrite "^/kjxw/([0-9]+)_([0-9]+)/([0-9]+).html$" /m/view.php?tid=1&aid=$3 last;

  rewrite "^/qchq/$" /m/list.php?tid=2 last;
  rewrite "^/qchq$" /m/list.php?tid=2 last;
  rewrite "^/qchq/list_2_([0-9]+).html$" /m/list.php?tid=2&PageNo=$1 last;
  rewrite "^/qchq/([0-9]+)_([0-9]+)/([0-9]+).html$" /m/view.php?tid=2&aid=$3 last;

  rewrite "^/shbk/$" /m/list.php?tid=3 last;
  rewrite "^/shbk$" /m/list.php?tid=3 last;
  rewrite "^/shbk/list_3_([0-9]+).html$" /m/list.php?tid=3&PageNo=$1 last;
  rewrite "^/shbk/([0-9]+)_([0-9]+)/([0-9]+).html$" /m/view.php?tid=3&aid=$3 last;
}

rewrite ^/$ /index.php last;
rewrite "^/index.html$" /index.php last;
rewrite "^/sitemap.xml$" /sitemap.php last;
rewrite "^/tags/(.+)" /tags.php?/$1 last;

rewrite "^/kjxw/$" /plus/list.php?tid=1 last;
rewrite "^/kjxw$" /plus/list.php?tid=1 last;
rewrite "^/kjxw/list_1_([0-9]+).html$" /plus/list.php?tid=1&PageNo=$1 last;
rewrite "^/kjxw/([0-9]+)_([0-9]+)/([0-9]+).html$" /plus/view.php?tid=1&aid=$3 last;


rewrite "^/qchq/$" /plus/list.php?tid=2 last;
rewrite "^/qchq$" /plus/list.php?tid=2 last;
rewrite "^/qchq/list_2_([0-9]+).html$" /plus/list.php?tid=2&PageNo=$1 last;
rewrite "^/qchq/([0-9]+)_([0-9]+)/([0-9]+).html$" /plus/view.php?tid=2&aid=$3 last;

rewrite "^/shbk/$" /plus/list.php?tid=3 last;
rewrite "^/shbk$" /plus/list.php?tid=3 last;
rewrite "^/shbk/list_3_([0-9]+).html$" /plus/list.php?tid=3&PageNo=$1 last;
rewrite "^/shbk/([0-9]+)_([0-9]+)/([0-9]+).html$" /plus/view.php?tid=3&aid=$3 last;